@charset "utf-8";

/* common */
ul {
    list-style: none;
    padding: 0;
}

/* container */
.container {
    max-width: 768px;
}

#btn-area #complete-btn {
    display: none;
}

/* navbar */

/* index */
#generate-kondate-btn {
    display: none;
}

/* create-form */
#create-form #thumbnail {
    display: none;
}