@charset "utf-8";

/* common */
* {
    font-family: 'Roboto', sans-serif;
}

/* container */
.container {
    max-width: 768px;
}

#btn-area #complete-btn {
    display: none;
}

/* navbar */

/* index */
#kondate-list {
    display: none;
}
/* #generate-kondate-btn {
    display: none;
} */

/* create-form */
#create-form #thumbnail {
    display: none;
}